/* Styling for the main element */
main.accio#job {
    width: 150px;
    height: 150px;
    background-color: black;
}

/* Styling for the paragraph inside the main element */
main.accio#job p.hello-accio {
    color: white;
    margin-left: 32px;
    padding: 10px;
}
